.button {
	color: var(--color-dark);
	background-color: transparent;
	border: solid 1px currentColor;
	border-radius: 4px;
	padding: 4px 8px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	background-color: var(--color-dark);
	color: var(--color-secondary);
}
